.contactbackground {
  background-image: url("assets/img/contacthd.jpg");
}
.roundedd {
  border-radius: 50%;
  height: 190px;
  width: 250px;
  margin-bottom: 5%;
  margin-top: 20%;
}
.roundedd:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.batn {
  width: 250px;
  margin-bottom: 5%;
}