@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
//font-family: 'Noto Serif', serif;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

p {
  font-family: 'Noto Serif', serif;
}

a {
  font-family: 'Noto Serif', serif;
  text-decoration: none;
}